{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<h1>Scenario </h1>
<p> You and the other players must work together to complete a goal. For instance, consider that you all work for a catering company. The goal could be to prepare food for a customer. In order to complete the goal and leave for the day, the group must prepare dinner and clean up the kitchen. Each person is working on a separate task (gathering materials, cooking an item, or cleaning) but no one can leave until everyone has completed their task. There is an allotted time to complete the goal, but everyone has the option of increasing their productivity to get their task finished earlier. Each person can increase productivity by units of effort, which is essentially how much time you want to cut off of your allotted work time. </p>



    {% next_button %}

{% endblock %}
