{% extends "global/Page.html"%}
{% load staticfiles otree_tags%}

{% block title %}
Answer Math Problem
{%endblock%}



{% block content %}

<!-- <img src="{% static "minimum_effort_game/MEGPayoffMatrix.png" %}"/> -->

<p><b>Math Problem:</b></p>
<p> {{problem}} </p>

{% formfield player.input_answer with label="Answer:" %}

<div id="next">
    {% next_button %}
</div>

<div style="display: none">
    {% formfield player.timeonpage_MathProblemInput %}
</div>

<script>
start=new Date().getTime()
timebox=document.getElementById("id_timeonpage_MathProblemInput")

function getPageTime(){
    pagetime=(new Date().getTime() - start)/1000
    return pagetime;
}

function compute_page_vals(){
    timebox.value=getPageTime()
}

document.getElementById("next").addEventListener("click", compute_page_vals);
</script>

{# {% include Constants.instructions_template %} #}


{% endblock %}
